/*NAVIGATION BAR*/
body{
    
    background-color:#F9F9F9 ;
    text-align: center;
    margin:0%;
    padding-bottom: 0%;
}
h1{
    font-size:6rem;
    font-family: 'Monserrat';
}

h3{
    color: white;
    text-align: center;
    font-family: Ubuntu;
    padding:1.5%;
}
/* .container {
    size: 1000cm;
} */
.container-fluid{
    background-position: center;
    background-size:cover;
    background-image: url('https://img.freepik.com/free-photo/cartoon-lofi-young-manga-style-girl-studying-while-listening-music-raining-street-ai-generative_123827-24916.jpg?t=st=1692711050~exp=1692714650~hmac=a1227a85b11f61850b4b897af91a862f16acf8971fd73decae185009cba8d3b2&w=996');
}
.btn-bg-grad{
    background-position: center;
    background-size:cover;
    background-image:url('https://i.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.webp');
}
.hand-fist-beat,.site-name{
    font-size: 3rem;
}
.brand-name{
    --fa-beat-fade-opacity: 1.25; --fa-beat-fade-scale: 1.25;
    --fa-animation-duration: 120s;
    padding:2%;
}
.brand-name:hover{
    --fa-animation-duration: 4s;
    --fa-fade-opacity: 0.6;
}
.navbar-nav{
    width: 45%;
    display: flex;
    justify-content: space-around;
}
.nav-item{
    color:white;
    font-size: 1.5rem;
}
/*TITLE*/

.heading-main{
    padding:10%;
    text-align: center;
    color:whitesmoke;
}
/*Search Bar*/
#search-bar-zone{
    padding:5% 10%;
    background-color: #F9F9F9;
}               
.search-text-heading{
    font-family: Ubuntu;
    font-size: 2.5rem;
    padding:3%;
}
.search-type-bar,.platform-selection{
    padding:3%;
}
.choose-platform{
    text-align: left;
}
.btn-bg-grad{
    width:16%;
}
.social-media-handle{
    width:100%;
}
/*Pricing*/
.price-header{
    font-size: 1.5rem;
    background-position: center;
    background-size:auto;
    background-image:url('https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif?cid=ecf05e47cjkn70bxdp3vaopqteflmsrsc6t2tsi73t37d8gk&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}
.price-heading{
    color:white;
    font-size: 3rem;
    padding-bottom: 2%;
    font-family:'Monserrat';
}
.card{
    border-width: 6px;
    border-color: black;
}
#pricing{
    padding-bottom: 2%;
}
.tagged{
    padding:0% 3% 0%;
}
.card-header{
    font-size: 2.5rem;
    text-align: center;
    text-decoration: solid;
    border-width:auto auto 6px;
}
.premium{
    background-size:cover;
    background-position:center;
    background-image:url('https://img.freepik.com/free-vector/golden-sparkling-frame-black-background_52683-22155.jpg?w=996&t=st=1692714036~exp=1692714636~hmac=276dcb3c0be63355aadd193b02ae9516f4fe14fed80cf526dc514e488c9a6f6b');
}
.Gold{
    background-size:cover;
    background-position:center;
    background-image:url('https://img.freepik.com/free-vector/realistic-luxury-background_23-2149337097.jpg?w=996&t=st=1692714699~exp=1692715299~hmac=7a6b9e0ca410795b0bfb017d10eb84b5255982ae0e2edcd88a1ca7f302d4d1fe');
}
.card-bd{
    height:254px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
}
/*.card-body{
background-image: url('https://i.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.webp');
}*/
.regular{
    background-color: rgb(119, 110, 110);
}
.pricing-btn{
    color: aliceblue;
}
/*Footer*/
#footer {
   
    color: #8f8f8f;
    font-size: 0.75rem;
    font-family: "Montserrat-Light", sans-serif;
    text-align: center;
    
}
.footer-contact-links1{
    background-position: center;
    background-size:cover;
    background-image:url('https://i.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.webp');
}
.footer-contact-links{
    display:flex;
    width:60%;
    padding-top:2%;
    padding-bottom:2%;
    margin: auto;
    justify-content: space-around;
}
.footer-link{
    font-size:1.75rem;
}
.contact{    color:#002244;


}
span {
    color: yellowgreen;
}
